:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #181818;
  --liClr: black;
  --accClr: #0D0D35;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body{
  background: linear-gradient(101.8deg, rgb(28, 28, 224) -0.2%, rgb(153, 68, 230) 55.2%, rgb(235, 18, 180) 84.4%);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

main{
  flex: 1;
  display: flex;
}

#gameCanvas{
  display:none;
  border-radius: 20px;
  box-shadow: 10px 20px 20px -10px rgba(255, 0, 106, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  z-index: 1;
}


.gameUI {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(248, 4, 187, 0.5), rgba(206, 110, 126, 0.938));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.gameUI * {
  text-align: center;
  margin-top: 5px;
}

#gameStartDiv {
  display: flex;
}

#gameEndDiv {
  display: none;
}

#gameStartBtn, #gameReStartBtn{
  display: inline-block;
  width: 100px;
  padding:8px 15px;
  margin: 20px 0;
  text-align: center;
  font-family: inherit;
  border-radius: 13px ;
}

#gameStartBtn,#gameReStartBtn p{
  margin-top: 0;
}

#gameStartBtn, #gameReStartBtn:hover{
  background: linear-gradient(101.8deg, rgb(28, 28, 224) -0.2%, rgb(153, 68, 230) 55.2%, rgb(235, 18, 180) 84.4%);;
  border: 2px solid var(--liClr);
  color: var(--liClr);
  cursor:pointer;
}
